*.cmake
*.obj
*.tlog
*.rule
build/CMakeFiles/3.0.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.exe
*.bin
*.log
*.stamp
*.vcxproj
*.check_cache
build/CMakeCache.txt
*.depend
*.list
*.filters
build/CMakeFiles/TargetDirectories.txt
*.ilk
*.pdb
*.suo
*.opensdf
*.sdf
*.sln
build/communities.dat
build/network.dat
build/profiling/communities.dat
*.psess
*.user
*.vsp